.nfs*
*.ipynb
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
**/__pycache__/**
.ipynb_checkpoints/
datasets/data/
experiment-*
*.tmp
*.pkl
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode
.python-version
*.sbatch
*.egg-info
src/trxsuper/models/ops/build*
src/trxsuper/models/ops/dist*
src/trxsuper/models/ops/lib*
src/trxsuper/models/ops/temp*
/src/trxsuper/models/dino/ops3d/build*
/src/trxsuper/models/dino/ops3d/dist*
/trexplorer_env/bin
/trexplorer_env
